<style>
.nacent {
text-align:center;
}
</style>
<div class="tfass"><h1 class="text-center">Batting Statistics</h1></div>
<div class="container">
  <div class="row">
    <div class="col-md-3"><br></br><br></br><img src = "http://i59.tinypic.com/nvbay1.png" alt="field" height="300" width="300"></div>
    <div class="col-md-3"><br></br><br></br><img src = "http://i58.tinypic.com/14lncw6.jpg" alt="field" height="300" width="300"></div>
          <div class="col-md-6">
            <br  />
        <div style="background:rgba(255,255,255,0.5)" class="jumbotron">
          <div class="asd">
            <h3 class="text-center">Pitch Location 1</h3>
            <br  />
<table style = "width:100%" class= "tablc">
  <tr>
    <th><h4>Flyball %</h4></th>
    <th><h4>Line Drive %</h4></th>
    <th><h4>Groundball %</h4></th>
  </tr>
  <tr style = "width:100%" class = "tablz">
    <td><h4 class="tabld"></h4></td>
      <td><h4 class="tablf"></h4></td>
      <td><h4 class="tablg"></h4></td>
  </tr>
</table>
     
<table>
    <tr>
      <th></th>
      <th><h4 class = "tablz">Hit %</h4></th>
      <th><h4 class ="tably">Hit % FB</h4></th>
      <th><h4 class ="tablx">Hit % OFF</h4></th>
    </tr>
    <tr>
      <td><h4 class="tablh"></h4></td>
      <td><h4 class="tabli"></h4></td>
      <td><h4 class="tablj"></h4></td>
    </tr>
  </table>
  <table>
  <tr>
    <th><h4 class="tablw">OBP</h4></th>
    <th><h4 class="tablv">SLG</h4></th>
    <th><h4 class="tablu">OPS</h4></th>
    <th><h4 class="tablu">RC</h4></th>
  </tr>
  <tr>
      <td><h4 class="tablh"></h4></td>
      <td><h4 class="tabll">24</h4></td>
      <td><h4 class="tablm">24</h4></td>
  </tr>
</table>
        </div>
  </form>     
<nav class = "nacent">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="advstat/1">1</a></li>
    <li><a href="advstat/2">2</a></li>
    <li><a href="advstat/3">3</a></li>
    <li><a href="advstat/4">4</a></li>
    <li><a href="advstat/5">5</a></li>
    <li><a href="advstat/6">6</a></li>
    <li><a href="advstat/7">7</a></li>
    <li><a href="advstat/8">8</a></li>
    <li><a href="advstat/9">9</a></li>
    <li><a href="advstat/10">10</a></li>
    <li><a href="advstat/11">11</a></li>
    <li><a href="advstat/12">12</a></li>
    <li><a href="advstat/13">13</a></li>
    <br  />
    <li><a href="advstat/14">14</a></li>
    <li><a href="advstat/15">15</a></li>
    <li><a href="advstat/16">16</a></li>
    <li><a href="advstat/17">17</a></li>
    <li><a href="advstat/18">18</a></li>
    <li><a href="advstat/19">19</a></li>
    <li><a href="advstat/20">20</a></li>
    <li><a href="advstat/21">21</a></li>
    <li><a href="advstat/22">22</a></li>
    <li><a href="advstat/23">23</a></li>
    <li><a href="advstat/24">24</a></li>
    <li><a href="advstat/25">25</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>
  </div>
</div>
</div>