<style>
.jumbotron {

}
h5 {
  font-weight: normal;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div style="background:rgba(255,255,255,0.5)" class="jumbotron">
    <h1>Welcome To Cycle</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reprehenderit quasi deserunt saepe alias odio nobis vero, a sapiente magnam possimus cum omnis iusto in animi aliquam eius, reiciendis vitae?</p>
</div>
    </div>
  </div>
  </div>
<div class="container">
  <div class="row">
    <span class="col-md-4">
      <div style="background:rgba(255,255,255,0.5)" class="jumbotron"> 
        <h2> Input Statistics</h2>
        <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reprehenderit quasi deserunt saepe alias odio nobis vero, a sapiente magnam possimus cum omnis iusto in animi aliquam eius, reiciendis vitae Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reprehenderit quasi deserunt saepe alias odio nobis vero, a sapiente magnam possimus cum omnis iusto in animi aliquam eius, reiciendis vitae</h5>
      </div>
    </span>
    <span class="col-md-4">
      <div style="background:rgba(255,255,255,0.5)" class="jumbotron">
        <img src ="http://i62.tinypic.com/s4np94.jpg" alt="Logo" height="240" width="280">
        <br  />
        <br  />
        <br  />
        <br  />
      </div>
    </span>
    <span class="col-md-4">
      <div style="background:rgba(255,255,255,0.5)" class="jumbotron">
        <h2>Season Stats</h2>
           <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reprehenderit quasi deserunt saepe alias odio nobis vero, a sapiente magnam possimus cum omnis iusto in animi aliquam eius, reiciendis vitae Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reprehenderit quasi deserunt saepe alias odio nobis vero, a sapiente magnam possimus cum omnis iusto in animi aliquam eius, reiciendis vitae</h5> 
        <br  />
      </div>
    </span>
        <h5></h5>