<style>
  .txcenter {
    text-align:center;
  }
</style>
<div class="container">
  <div class="row">
    <span class="col-md-12">
      <br  />
      <div style="background:rgba(255,255,255,0.5)" class="jumbotron"> 
<h2 class="text-center">Add a Game</h2>
<br  />
<br  />
        <h4>
<div class="txcenter">
<form action="/create">
<p>
  <input type="text" name="date" placeholder="Date">
  </p>
  <br  />

  <p>
   <input type="text" name="time" placeholder="Time">
  <p>
    <br  />
  <input type="text" name="location" placeholder="Location">
  </p>
  <br  />
  <p>
  <input type="text" name="oppo" placeholder="Home Team vs Away Team">
  </p> 
  <br  />
<p>
   <input type="text" name="result" placeholder="Score">
  </p>
  <p>
   <input type="submit">
  </p>
  </div>
</form>
      </div>
     </h4>
    </span>
      </div>
  </div>
  