<div class="container">
  <div class="row">
    <span class="col-md-12">
      <br  />
      <div style="background:rgba(255,255,255,0.5)" class="jumbotron"> 
<h2 class="text-center"><b>Add a Player to the Roster</b></h2>
<br  />
        <br  />
<h4 class="text-center">
  <form action="/create_roster">
    <p>
      <input type="text" name="name" placeholder="Name of Player">
    </p>
    <br  />
    <p>
      <input type="text" name="position" placeholder="Player's Position">
    </p>

    <br  />
    <p>
      <input type="text" name="number" placeholder="Player's Number">
    </p> 
    <br  />
    <p>
      <input type="submit">
    </p>
  </form>
</h4>
      </div>
      </div>
  </div>