<div class="container">
  <div class="row">
    <span class="col-md-12">
      <br  />
      <div style="background:rgba(255,255,255,0.5)" class="jumbotron"> 
<h2 class="text-center">Add a New Video</h2>
<br  />
        <br  />
<h4 class="text-center">
  <form action="/create_video">
    <p>
      <input type="text" name="name" placeholder="Name of Player Video is Of">
    </p>
    <br  />
    <p>
      <input type="text" name="url" placeholder="URL of Video">
    </p>

    <br  />
    <p>
      <input type="text" name="note" placeholder="Video Notes/Description">
    </p> 
    <br  />
    <p>
      <input type="submit">
    </p>
  </form>
</h4>
      </div>
      </div>
  </div>