<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
  .styploco {
    color:white;
    text-align: center;
  }
  h5 {
    text-align:center;
  }
  .bnum {
    color:white;
    background-color:blue;
  }
  .rnum {
    color:white;
    background-color:red;
  }
  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: white;
  }

</style>
<br  />
<h1 class= "styploco">Pitch Location</h1>
<div class="container">
  <div class="row">
    <div class ='col-md-2'>
    </div>
    <div class='col-md-3'>
      <br  />
    <img src="http://i62.tinypic.com/xp92tc.jpg" alt="Mountain View" style="width:280px;height:440px;">
    </div>
    <div class="col-md-7">
      <br  />
      <br  />
      <br  />
      <br  />
      <br  />
      <br  />
      <br  />
      <table style="width:25%">
        <tr>
          <th class="bnum"><h5><a href='/newpainput1'>1</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput2'>2</a></h5></th>		
          <th class="bnum"><h5><a href='/newpainput3'>3</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput4'>4</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput5'>5</a></h5></th>
        </tr>
        <tr>
          <th class="bnum"><h5><a href='/newpainput6'>6</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput7'>7</a></h5></th>		
          <th class="rnum"><h5><a href='/newpainput8'>8</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput9'>9</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput10'>10</a></h5></th>
        </tr>
        <tr>
          <th class="bnum"><h5><a href='/newpainput11'>11</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput12'>12</a></h5></th>		
          <th class="rnum"><h5><a href='/newpainput13'>13</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput14'>14</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput15'>15</a></h5></th>
        </tr>
        <tr>
          <th class="bnum"><h5><a href='/newpainput16'>16</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput17'>17</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput18'>18</a></h5></th>
          <th class="rnum"><h5><a href='/newpainput19'>19</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput20'>20</a></h5></th>
        </tr>
        <tr>
          <th class="bnum"><h5><a href='/newpainput21'>21</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput22'>22</a></h5></th>		
          <th class="bnum"><h5><a href='/newpainput23'>23</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput24'>24</a></h5></th>
          <th class="bnum"><h5><a href='/newpainput25'>25</a></h5></th>
        </tr>
      </table>
    </div>
  </div>
</div>